extends navbar
block content
  h1 Your Profile
  if message
    - var mtype = 'alert-' + message.type
    div.alert(class=mtype) #{message.caption}
  form.panel.panel-default(method="post",action="/profile/edit")
    div.panel-heading
      span Your Details
      div.pull-right
        i.icon-edit &nbsp;
        span Editing your profile
    div.panel-body
      div.input-group
        span.input-group-addon Your email address is:
        input(autofocus,type="email",name="email",placeholder="foo.bar@example.com").form-control
    button.btn.btn-default.pull-right(style="margin:5px")
        i.icon-save &nbsp;
        span Save your profile
