extends navbar
block append styles
 style.
   .container {
     max-width: 400px;
     text-align:center
   }
   input,button {
     margin:5px;
   }
   .pad {
     margin-top:20px;
   }
block content
  h1(title="greetings, reader")
    span.latin lectori salutem
  form.form-signin(action="login",method="post")
    h2.form-signin-heading Please sign in.
    input.username.form-control(type="text",name="username",placeholder="enter your username",autofocus)
    input.password.form-control(name="password",type="password",placeholder="enter your password")
    button.btn.btn-lg.btn-primary.btn-block(type="submit") Create account or sign in
    div.panel.panel-warning.pad
      div.panel-heading
        i.icon-warning-sign &nbsp;
        span Do not use your Aber credentials.

