extends skeleton

block navbar
  div.navbar.navbar-inverse(role="navigation")
    div.navbar-header
      a.navbar-brand(href="/") foruli
    ul.nav.navbar-nav
      if active == 'books'
        li.active
          a(href="/books")
            i.icon-book &nbsp;
            span Books
      else
        li
          a(href="/books")
            i.icon-book &nbsp;
            span Books
      if active == 'notes'
        li.active
          a(href="/notes")
            i.icon-list-alt &nbsp;
            span Notes
      else
        li
          a(href="/notes")
            i.icon-list-alt &nbsp;
            span Notes
    if user
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown") #{user.username}
            b.caret
          ul.dropdown-menu
            li
              a(href="/profile")
                i.icon-user &nbsp;
                span View profile
            li
              a(href="/logout")
                i.icon-signout &nbsp;
                span Log out
block content
  div.starter-template
    h1 Hello
    p.lead foo
